
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/wordmotion"]
	path = .vim/bundle/wordmotion
	url = git@github.com:chaoren/vim-wordmotion.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/bundle/tmuxline"]
	path = .vim/bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-one"]
	path = .vim/bundle/vim-one
	url = git@github.com:rakr/vim-one.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/multiple-cursors"]
	path = .vim/bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/onedark"]
	path = .vim/bundle/onedark
	url = git@github.com:joshdick/onedark.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
