
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/wordmotion"]
	path = .vim/bundle/wordmotion
	url = git@github.com:chaoren/vim-wordmotion.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/tmuxline"]
	path = .vim/bundle/tmuxline
	url = git@github.com:edkolev/tmuxline.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-one"]
	path = .vim/bundle/vim-one
	url = git@github.com:rakr/vim-one.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/multiple-cursors"]
	path = .vim/bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/onedark"]
	path = .vim/bundle/onedark
	url = git@github.com:joshdick/onedark.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-rsi"]
	path = .vim/bundle/vim-rsi
	url = git@github.com:tpope/vim-rsi.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule ".vim/bundle/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = git://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/neuromancer-colors"]
	path = .vim/bundle/neuromancer-colors
	url = git@github.com:Zabanaa/neuromancer.vim.git
[submodule ".vim/bundle/seoul-256"]
	path = .vim/bundle/seoul-256
	url = git@github.com:junegunn/seoul256.vim.git
[submodule ".vim/bundle/oceanic-next"]
	path = .vim/bundle/oceanic-next
	url = git@github.com:mhartington/oceanic-next.git
[submodule ".vim/bundle/vim-vice"]
	path = .vim/bundle/vim-vice
	url = git@github.com:bcicen/vim-vice.git
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule ".vim/bundle/js-indent"]
	path = .vim/bundle/js-indent
	url = git@github.com:jason0x43/vim-js-indent.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
